.top-third {
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  color: #ffffff;
  line-height: 1.3;
  padding: 40px 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-image: "/Volumes/Please Work finally - Data/StaticPageProject/Assets/netflix_livingroom_800.png"; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  object-fit: fill;
}

body {
  width: 100%;
  height: auto;
  background-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  top: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.submit {
  float: none;
  display: inline-block;
  background-color: white;
  text-emphasis-color: black;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  height: 65px;
  font-size: medium;
}

.bigHeader {
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
}

.subText {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav-right {
  float: right;
}

.Ribbon {
  background-color: #0c3c44;
  height: 65px;
}

.image {
  position: relative;
  left: 35px;
  top: 8px;
}

.left-ribbon {
  width: 100%;
  height: auto;
  position: relative;
  /* float: none; */
  text-align: center;
  bottom: 35px;
  align-items: center;
  margin: 0 auto;
  max-width: 1520px;
}

.ribbon-brow {
  color: lightgreen;
}

.showDetails {
  color: white;
}
.btn {
  float: right;
  color: transparent;
  border-radius: 15px transparent;
}

.showprice {
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box {
  width: auto;
  border: 5px solid black;
}

.buy {
  float: none;
  position: relative;
  width: 100px;
  height: 45px;
  left: 450px;
  bottom: 50px;
  border-radius: 5px;
  border-color: white;
  background-color: transparent;
  color: white;
}
/* For the purchase cards */
@media (max-width: 1279px) {
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

div .plan_row {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}
.plan_card {
  color: grey;
  position: relative;
  order: 2;
  display: flex;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(134, 141, 155, 0.2);
  max-width: 532px;
  border-radius: 10px;
  height: auto;
}

.section_head {
  font-size: 20px;
  color: gray;
  text-emphasis: bold;
}
.p1_desc {
  color: lightgray;
  font-size: 15px;
}
.plan-header {
  text-align: center;
}

.plan_card_list_check {
  text-align: left;
  color: grey;
}
.button_plan_card {
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background: #040505;
  height: 46px;
  min-width: 136px;
  padding: 0 32px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  float: none;
  left: 175px;
}

.section_head {
  text-align: center;
}

.plan_amount {
  text-align: center;
}
